<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body style="">
<!--Меню НАЧАЛО -->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.png" alt="Bootstrap" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Преимущества</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Как это работает?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Связаться с нами</a>
                </li>
                <li class="nav-item">
                    {% if not session.logged_in %}
                    <a class="nav-link active" href="/register" style="color: #0281FF;">Личный кабинет</a>
                    {% else %}
                    <a class="nav-link active" href="/userpage" style="color: #0281FF;">Личный кабинет</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Меню КОНЕЦ-->

<!-- контент страницы -->
<div class="mx-auto" style="max-height: 1650px; max-width:1200px;">

    {% if error != None %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% else %}

    <p class="text_h2" style="text-align: center; font-weight: 700; margin-top: 20px;">РЕЗУЛЬТАТЫ АНАЛИЗОВ</p>
    <div class="container overflow-hidden">
        {% if path_img == [] %}
        <div class="carousel-item active">
            <p class="text_h3" style="font-weight: 500;">
                Загрузите фото для анализа
            </p>
            <img src="/static/images/pohoto_login.jpg" class="mx-auto"
                 style="height: 350px; width: 350px; border-radius: 350px; margin-top: 10px;">
        </div>
        {% else %}
        {% for i in range(len, -1, -1) %}
        <div class="row justify-content-md-center gx-5 gy-5">
            <div class="col-sm-5 border_analysis " style="width: 400px;">
                <p class="text_h3" style="font-weight: 500;">
                    АНАЛИЗ {{ path_img[i][0] }}
                </p>
                <img src='{{ url_for("static", filename = "img_analytics_users/" + path_img[i][4]) }}'
                     class="w-100"
                     alt="...">
            </div>
            <div class="col-sm-5 border_analysis" data-bs-theme="dark" style="width: 400px;">
                <p class="text_h3" style="font-weight: 500;">
                    ПОДРОБНОСТИ АНАЛИЗА
                </p>
                <p class="text" style="font-weight: 500;">
                    {{ path_img[i][3] }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>


</body>
</html>